<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Applepie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ApplepieDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A02DEC32182EE5D00B41DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A02DED72182EE5D00B41DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A02DEEE2182F11500B41DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A02DEF62182F11600B41DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
